<!DOCTYPE html>
<html lang="<%= site_data.lang || 'en' %>">
  <%= partial "partials/head" %>
  <body data-controller="page-transitions">
    <%= partial "partials/header" %>

    <div class="wrapper animate__animated animate__slideInUp" data-page-transitions-target="wrapper">
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>
  </body>
</html>
